<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>38</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>37</string>
					<key>Timestamp</key>
					<string>753609230.595189</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>FetchBook/VIEWS/Recipe/Recipe List/RecipeShimmeringListView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            .shimmering(active: true, duration: 1, bounce: false, delay: 0.3)
</string>
				<key>leading</key>
				<string>            .listRowSeparator($0 == array.first ? .hidden : .visible, edges: .top)
            .listRowSeparator($0 == array.last ? .hidden : .visible, edges: .bottom)
</string>
				<key>trailing</key>
				<string>        }
        .listStyle(.plain)
    }
</string>
			</dict>
			<key>title</key>
			<string>Note: Update the depricated view modifier here. (Optional)</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
